nav{
    text-align: center;

}

ul li{
    display: inline-flex;
    padding: 5px;
}

body{
    margin-top: 0%;
}

form {
    text-align: center;
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input{
    border-radius: 5px;
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0.3); 
}
input:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(30,58,138,0.3);
}
#reset{
    background-color: lightgray;
}

#submit{
    background-color:#4A90E2;
}

button{
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

button:hover {
    opacity: 0.80;
    text-decoration: underline;
}

#error{
    display: none;
    color: red;
    font-weight: bold;
}

#errorMark{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    line-height: 20px;
    margin-right: 8px;
    font-weight: bold;
}