{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Details</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bookstyle.css' %}">
    </head>

    <body>
<nav>
    <h2 class="logo">📚 BookNest Library</h2>
    
    <ul>
 
    <a class="nav-link" href="{% url 'user_home' %}"><li>Home</li></a> 
    <a class="nav-link" href="{% url 'search' %}"><li>Search Books</li></a> 
    <a class="nav-link" href="{% url 'borrowed_books' %}"><li>Borrowed Books</li></a> 
    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
  </ul>
    <hr>
</nav>

        <h1> <ins> Book Information </ins> </h1>

        <br>
        
        <table class="details-table">
            <tr><th>Book Title:</th><td id="bookTitle">Loading...</td></tr>
            <tr>
                <th>Book Cover:</th>
                <td><img id="bookCover" class="book-cover-img" alt="Book cover" height="250" src="{% static 'images/no_cover_available.png' %}"></td>
            </tr>
            <tr><th>Author:</th><td id="bookAuthor">Loading...</td></tr>
            <tr><th>Category:</th><td id="bookCategory">Loading...</td></tr>
            <tr><th>Status:</th><td id="bookStatus">Loading...</td></tr>
            <tr><th>Description:</th><td><p id="bookDescription">Loading...</p></td></tr>
        </table>

        <button type="button" id="borrowBtn" class="borrow-btn">Borrow This Book</button>

        <br><br> 
        <hr>
        <br><br> 

        <script src="{% static 'csrf_utils.js' %}"></script>
        <script src="{% static 'book_details.js' %}"></script>
        <script src="{% static 'authScript.js' %}"></script>
    </body>
</html>