{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Borrowed Books</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bookstyle.css' %}">
    </head>

    <body>
<nav>
    <h2 class="logo">📚 BookNest Library</h2>
    
    <ul>
 
    <a class="nav-link" href="{% url 'user_home' %}"><li>Home</li></a> 
    <a class="nav-link" href="{% url 'search' %}"><li>Search Books</li></a> 
    <a class="nav-link" href="{% url 'borrowed_books' %}"><li>Borrowed Books</li></a> 
    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
  </ul>
    <hr>
</nav>

        <h1> <ins> Your Borrowed Books </ins> </h1>

        <table id="borrowedTable">
            <thead>
                <tr>
                    <th width="300"> Book Title </th>
                    <th width="200"> Author </th>
                    <th width="200"> Category </th>
                    <th width="120"> Date Borrowed </th>
                    <th width="120"> Due Date </th>
                    <th width="120"> Action </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr>
                    <td colspan="6" style="text-align: center; padding: 20px;"> 
                        <i>Loading borrowed books...</i> 
                    </td>
                </tr>
            </tbody>
        </table>

        <br><br>
        <hr>
        <br><br>
        <script src="{% static 'csrf_utils.js' %}"></script>
        <script src="{% static 'borrowed_books.js' %}"></script>
        <script src="{% static 'authScript.js' %}"></script>
    </body>
</html>
