{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" href="{% static 'style_editbook.css' %}">
</head>
<body>
    <nav>
        <h2 class="logo">📚 BookNest Library</h2>
        <ul>
            <a class="nav-link" href="{% url 'admin_home' %}"><li>Home</li></a>
            <a class="nav-link" href="{% url 'admin_add_book' %}"><li>Add Book</li></a>
            <a class="nav-link" href="{% url 'view_books_admin' %}"><li>View Books</li></a>
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </ul>
    </nav>

    <h2>Edit Book</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>

    <br>
    <a href="{% url 'view_books_admin' %}">
        <button class="btn">Back to Books</button>
    </a>
</body>
</html>
