{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Log-in </title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <style>


    </style>
</head>

<body>
<nav>
    <h2 class="logo">📚 BookNest Library</h2>
    <ul>
    <a class="nav-link" href="{% url 'index' %}"><li>Home</li></a> 
    <a class="nav-link" href="{% url 'login' %}"><li>Login</li></a> 
    <a class="nav-link" href="{% url 'signup' %}"><li>Sign Up</li></a>
    </ul>
</nav>

    <form onsubmit="return loginUser()">
        <div>
            <label for="username"> Email or Username: </label>
            <input type = "text" id="username" name="username/email" placeholder="email/username" maxlength="10" required >
        </div>

        <br>

        <div>
            <label for="password"> Password: </label>
            <input type="password" id="password" name="password" placeholder="password" maxlength="10" required>
        </div>
        
        <br>

        <div>
            <button id="reset" type="reset"> Reset </button>
            <button id="submit" type="submit"> Login </button>
        </div>
    </form>

            
<script src="{% static 'authScript.js' %}"></script>
</body>


</html>
