{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>

<body>
<nav>
    <h2 class="logo">📚 BookNest Library</h2>
    <ul>
        <a class="nav-link" href="{% url 'index' %}"><li>Home</li></a> 
        <a class="nav-link" href="{% url 'login' %}"><li>Login</li></a> 
        <a class="nav-link" href="{% url 'signup' %}"><li>Sign Up</li></a>
    </ul>
</nav>

    <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="reset">Reset</button>
    <button type="submit">Signup</button>
</form>
    
</body>
</html>