{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookNest Library - User Home</title>
    <link rel="stylesheet" href="{% static 'user_home.css' %}">
</head>

<body>

<nav>
    <h2 class="logo">📚 BookNest Library</h2>
    
    <ul>
 
    <a class="nav-link" href="{% url 'user_home' %}"><li>Home</li></a> 
    <a class="nav-link" href="{% url 'search' %}"><li>Search Books</li></a> 
    <a class="nav-link" href="{% url 'borrowed_books' %}"><li>Borrowed Books</li></a> 
    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

  </ul>
    <hr>
</nav>

<header>
    
    <h1>Welcome to BookNest Library 👋</h1>
    <p>
        BookNest is your digital gateway to discovering amazing books.
        Our online library allows you to browse available books, search
        by title, author, or category, and borrow books easily.
    </p>

    <p>
        Start exploring the library and find your next favorite book today!
    </p>
</header>

<hr>

<section>
    <h2>What would you like to do?</h2>

    <ul>
        <li>
            <strong>Search for Books</strong><br>
            Find books by title, author, or category quickly.
            <br><br>
            <a href="{% url 'search' %}">
                <button>Search Books</button>
            </a>
        </li>



        <br>

        <li>
            <strong>My Borrowed Books</strong><br>
            View the list of books you have borrowed from the library.
            <br><br>
            <a href="{% url 'borrowed_books' %}">
                <button>View My Books</button>
            </a>
        </li>
    </ul>
</section>

<hr>


<section>
    <h2>About Our Library</h2>
    <p>
        At <strong>BookNest</strong>, we believe that knowledge should be
        easily accessible to everyone. Our digital library connects readers
        with a wide collection of books across different categories,
        helping you discover, learn, and grow.
    </p>
</section>

<hr>

<script src="{% static 'authScript.js' %}"></script>

</body>

</html>
