{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static style_veiwbook.css %}">
        <title>Veiw Books</title>
    </head>
    <body>
    
        <nav>
    <h2 class="logo">📚 BookNest Library</h2>
   
   <ul>

    <a  class="nav-link" href="{% url 'admin_home' %}"><li>Home</li></a> 
    <a   class="nav-link" href="{% url 'admin_add_book' %}"><li>Add Book</li></a> 
    <a   class="nav-link" href="{% url 'veiw_book_admin' %}"><li>View Books</li></a>
    <a   class="nav-link" href="{% url 'edit_book' %}"><li>Edit Books</li></a>
    <a class="nav-link out" href="#" onclick="logout()">Logout</a>
    
</ul>
</nav>
        <h2>Books List</h2>
        <div id="Books">

        </div>
        <br>
        <a href="{% url 'admin_add_book' %}" >
            <button class="btn">Add New Book</button>
        </a>


        <script src="{% static 'authScript.js' %}"></script>
        <script>
            if (!localStorage.getItem("Books")) {
    let books = [
        {
            title: "Harry Potter and the chamber of secrets",
            image: "part2.jpg"
        },
        {
            title: "Harry Potter and the prisoner of Azkaban",
            image: "part3.jpg"
        },
        {
            title: "Harry Potter and the Goblet of fire",
            image: "part4.jpg"
        },
        {
            title: "Harry Potter and the Half-blood prince",
            image: "part5.jpg"
        },
        {
            title: "Harry Potter and the deathly hallows",
            image: "part6.jpg"
        }
    ];

    localStorage.setItem("books", JSON.stringify(books));
}

let container = document.getElementById("Books");
let books = JSON.parse(localStorage.getItem("books")) || [];

books.forEach(function(book ,index) {
    let div = document.createElement("div");
    div.className = "harry_potter";

    div.innerHTML = `
        <img src="{% static 'images/' %}{{ book.image }}">
        <p>${book.title}</p>
        <button  class="btn" , onclick="editBook(${index})">Edit </button>
        <button  class="btn" , onclick="deleteBook(${index})">Delete</button>
    `;

    container.appendChild(div);
});
function deleteBook(index) {
    let books = JSON.parse(localStorage.getItem("books"));

    books.splice(index, 1); 

    localStorage.setItem("books", JSON.stringify(books));

    location.reload();
}
function editBook(index) {
    window.location.href = "{% url 'edit_book' 0 %}".replace('0', index);
}
        </script>
    </body>
</html>
