body{
        font-family: Arial, sans-serif;
}
/* Navbar */
nav {
    background-color: #ffffff;
    color: #1D293F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
}

/* Logo */
.logo {
    margin: 0;
    font-size: 20px;
}

/* Nav Links Container */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* Links */
.nav-link {

    text-decoration: none;
    color: #1D293F;
    font-size: 14px;
    transition: 0.3s;
}

/* Remove default li style */
nav li {
        font-size: 15px;
    list-style: none;
}

/* Hover Effect */
.nav-link:hover {
    margin: 0;
    padding: 0;
    color: #2e3f5c;
    border-bottom: solid 1px black;
}







h1{
    color: #1D293F;
    text-align: center;
    font-family: 'Sora', sans-serif;
    text-decoration: underline;
}

form {
    color: #1D293F;
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
label{
    text-align: right;
}

input, select, textarea{
    width: 90%;
    border-radius: 5px;
    border-style: none none solid none;
    border-color: rgba(0, 0, 0, 0.3); 
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(30,58,138,0.3);
}

#reset{
    background-color: lightgray;
}

#submit{
    background-color: #1D293F;
    color:white;
}

button:hover {
    opacity: 0.80;
    text-decoration: underline;
}

button{
    width: 60px;
    height: 30px;
    border-radius: 10px;
}
.buttons {
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;   
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
