h2{
    font-size: 40px;
    font-weight: 700;
    color:#E0E8F5;
}
body {
    background-color: #1D293F;
     font-family: 'Sora', sans-serif;
     text_color: #E0E8F5 
}
#Books{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  align-items: start;
}
.harry_potter {
   background: #E0E8F5 ;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
}
.harry_potter img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.harry_potter p {
  color: #2643D1;
  font-family: sans-serif;
  margin: 5px 0;
}
.btn{
    background-color: #E0E8F5;
    color: #2643D1;
    border :2px solid E0E8F5;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
  
}
.btn:hover{
 background-color: #2643D1;
  color: white;
}
.btn:visited{
        background-color: #E0E8F5;
    color: #2643D1;
    border :2px solid E0E8F5;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}
